.input-suggestions {
    padding: 10px;
    /*border: 1px solid #dfe1e5;*/
    border: 1px solid red;

    border-radius: 10px;
    width: 80%;
    right: 0;
    left: 0;
    box-sizing: border-box;
}

.input-suggestions div {
    padding: 4px 0;
    text-align: left;
}
.input-suggestions .search-link {
    display: block;
    margin-top: 10px;
    padding: 4px 0;
}

.input-suggestions-item {
    padding: 4px 0;
    text-align: left;
    box-sizing: border-box;
}